.promo {
   max-width: 984px;
   padding-top: 18px;
   height: 148px;
   background-color: #f9fbff;
   position: relative;
   margin: auto;
   margin-bottom: 48px;
   border-radius: 8px;
   &__info {
      position: absolute;
      padding-bottom: 24px;
      left: 48px;
      top: 18px;
      z-index: 2;
      max-width: 601px;
      & h1 {
         font-family: Montserrat;
         font-size: 32px;
         font-weight: 600;
         line-height: 40px;
         margin-bottom: 8px;
      }
   }

   &__img {
   }
   &__vector {
      & img {
         position: absolute;
         top: 0;
         right: 0;
         border-radius: 8px;
      }
   }

   &__app {
      & img {
         width: 185px;
         position: absolute;
         top: 5px;
         right: 97px;
      }
   }

   &__like {
      & img {
         width: 41px;
         position: absolute;
         top: 98px;
         right: 314px;
      }
   }

   &__ruble {
      & img {
         width: 87px;
         position: absolute;
         top: 37.75px;
         right: 195px;
      }
   }

   &__rating {
      & img {
         width: 45px;
         position: absolute;
         top: 92px;
         right: 63px;
      }
   }
}
.subheader {
   display: flex;
   & img {
      width: 18px;
      height: 18px;
      margin: 3px;
   }
   &__info {
      font-family: 'FiraSans';
      align-self: center;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #1390df;
   }
}
// dialog {
//    position: fixed;
//    height: 250px;
//    width: 350px;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    border: none;
//    padding: 0;
//    background-color: #ffffff;
//    color: #000000;
//    text-align: center;
//    &::backdrop {
//       background-color: rgb(0 0 0 / 0.8);
//    }
// }
body {
   //   min-height: 100vh;
   //   padding: 50px;
   //   background-color: #18191c;
   //   color: #ffffff;
   //   font-family: "Roboto", sans-serif;
   //   font-size: 18px;
   //   scrollbar-gutter: stable;
}

// .scroll-lock {
//   overflow: hidden;
// }
