.why {
   font-family: Montserrat;
   margin-bottom: 48px;
   & h2 {
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 24px;
   }
   &__row {
      display: flex;
      gap: 24px;
   }

   &__item {
      padding: 24px;
      & img {
         width: 30px;
         margin-bottom: 17px;
      }
   }

   &__subheader {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 4px;
   }

   &__text {
      font-family: FiraSans;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 8px;
   }
}
